*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight:700;
}

header{
    background-color:hsl(356, 100%, 66%);
    width:100%;
    height:50px;
    color: white;
    display: flex;
    padding: 10px 5px;
    justify-content: flex-end;
}

.nav-links{
    padding: 10px 5px;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.cta-1{
    margin: 0 0 0 auto;
}

.cta-1 a{
    padding: 0em;
}

.cta-1 button{
    padding: 5px 25px;
    /* margin: 8px; */
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login{
    background: transparent;
    color: white;
    margin-left: 2em;
}

.sign{
    background: white;
    color: orangered;
}

.logo{
    margin-right: 40px;
}

.hero{
    background-color:hsl(356, 100%, 66%);
    border-radius:0 0 0 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    padding: 20px 10px 10px 40px;
    color: #fff;
}

.intro{
    font-size: 30px;
    margin: 20px 0;
    line-height: 1.3;
}

.statement{
    margin: 10px auto;
    width: 60%;
}

.cta-2{
    text-align: center;
    outline: none;
    margin: 10px 0;
}

.cta-2 button{
    padding: 5px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
}

.start{
    background: white;
    color: orangered;
    border: none;
}

.learn{
    background: transparent;
    color: white;
    border: 1px solid white;
}

/* The "MAIN" tag contents */

main{
    margin: 8% 0 0 0;
    font-size: small;
    font-weight: normal;
}

main h2{
    margin: 30px 0;
    text-align: center;
    color:hsl(208, 49%, 24%);
}

.future{
    display: flex;
    flex-direction: row-reverse;
}

.future img{
    height: 600px;
    margin: -50px -100px 0 0;
}

.robust h3{
    margin: .6em 0;
}

.robust{
    margin-top: 2em;
}

.editor h3{
    margin: 1em 0;
}

.editor{
    width: 400px;
    align-items: center;
    margin: 80px 30px 0 0;
    height: 100px;
}

/* the middle section */

.state{
    background-color: hsl(237, 23%, 32%);
    margin: 8% 0 0 0;
    height: 270px;
    display: flex;
    border-radius:0 70px 0 70px;
    justify-content: space-evenly;
}

.state img{
    height: 370px;
    margin-top: -46px;
    margin-left: 3em;
}

.art{
    color: white;
    margin: 3rem;
    width: 45%;
}

.art h2{
    margin-bottom: 1em;
    color: white;
    text-align: left;
}

.desktop img{
    width: 600px;
    margin-left: -100px;
}






@media only screen and (max-width: 600px) {
    header{
        flex-wrap: wrap column;
    }

    nav a{
        visibility: hidden;
    }
    
    .hero{
        /* background-color:hsl(356, 100%, 66%); */
        /* border-radius:0 0 0 50px; */
        /* height: fit-content; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* text-align: center; */
        /* justify-content: center; */
        /* color: #fff; */
    }

    .intro{
        font-size: 18px;
    }

    .statement{
        font-size: 20px;
        font-weight: lighter;
    }

    .cta-2 button{
        padding: 5px 15px;
        margin-bottom: 3rem;
    }

    /* the main tag class future */
    main h2{
        margin: 2em 0 5em 0;
    }

    .future{
        flex-direction: column;
        width: 280px;
        /* margin: auto; */
        
    }
    .future img{
        height: 350px;
        /* margin: 10px 20px; */
    }

    .future h2{
        margin-top: 40px;
    }

    .editor{
        height: fit-content;
        width: 100px;
        text-align: center;
    }

    .state{
        /* margin: 20% 0 0 0; */
        height: 500px;
        flex-direction: column;
    }

    .state img{
        width: 400px;
    }

    .state .art{
        margin: auto;
    }
}